<!-- JS 제이쿼리와 부트스트랩 버전 헤더 추가 -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가. index.js 파일이 header 이후에 기능 수행 가능하도록 footer에 지정-->
<!--보통 static에 위치한 정적파일들은 URL에서 /로 절대 경로로 설정 및 실행 됨.-->
<script src="/js/app/index.js"></script>
</html>